
.foodMenuContainer{
    margin-top: 50px;
    padding-bottom: 50px;
}
.foodMenuContainer h1{
    text-align: center;
    padding: 20px 0;
    background-color: #eee;
}
.categoryMenu{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow-x: auto;
    gap: 15px;
    height: auto;
    min-width: 330px;
    padding-top: 20px;
    padding-left: 10px;
}

::-webkit-scrollbar{
    width: 0;
}
.pd{
    padding: 0 4%;
}
.foodContainer{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(340px,1fr));
    row-gap: 40px;
    column-gap: 20px;
    /* border: 1px solid red; */
}
.foodContainer .foodBox{
   display: grid;
   grid-template-columns: 1.2fr 2fr;
   justify-content: center;
   align-items: center;
   /* border: 1px solid red; */
   height: 100%;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   border-radius: 8px;
   transition: ease .5s;
   /* margin-bottom: 50px; */
   cursor: pointer;
}
.foodBox .left{
    /* border: 1px solid red; */
    height: 100%;
    border-radius: 8px;
}
.foodBox .right{
    /* border: 1px solid red; */
    margin-left: 10px;
    height: 100%;
    border-radius: 8px;
    padding-right: 10px;
}
.foodBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 8px; */
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}
.foodBox h2{
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 10px;
    padding-top: 8px;
}
.foodBox p{
    font-size: 15px;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.foodBox .priceOrder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
}

.priceOrder button{
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    background-color: rgb(253, 226, 51);

}
.priceOrder button:hover{
    background-color: rgb(101, 248, 101);

}
.foodBox:hover{
    transform: translateY(-12px);
    transition: ease .5s;
}
.categoryMenu a{
    text-decoration: none;
    font-size: 16px;
    padding: 8px 15px;
    font-weight: bold;
    background-color: rgb(253, 226, 51);
    border-radius: 4px;
    cursor: pointer;
    color: black;
}
.categoryMenu a:hover{
    background-color: black;
    color: rgb(253, 226, 51);
}

@media screen and (max-width:600px){
    .foodMenuContainer h1{
        font-size: 25px;
    }
}
