.appContainer{
    height: 100vh;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* background-size: 100% 100%; */
    /* background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px; */
    /* background-image: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #D3FF6D9C 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #6DFFAEF5 24%, #073AFF00 100%),linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%); */

}
.appContainer h1{
    text-align: center;
    margin-top: 30px;
    color: rgb(43, 43, 43);
    margin-bottom: 20px;
}
.appBox{
    min-width: 380px;
    background-color: rgb(79, 78, 78);
    padding: 15px;
    border-radius: 10px;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #D3FF6D9C 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #6DFFAEF5 24%, #073AFF00 100%),linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);
    
}

.appBox input{

    border: none;
    padding: 10px 14px;
    width: 70%;
    font-size: 16px;
    /* outline-color: rgb(43, 43, 43); */
    outline: none;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
}
::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}
.appBox input:focus{
    /* border-bottom: 2px solid rgb(43, 43, 43); */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  */
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.info ion-icon{
    animation: wave 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes wave{
    0%{
        transform: translateX(6px);
    }
    60%{
        transform: translateX(-6px);
    }
}
@keyframes wave{
    0%{
        transform: translateX(6px);
    }
    60%{
        transform: translateX(-6px);
    }
}

.info .cityName{
    font-size: 4rem;
}

.info .cityName span{
    font-size: 2rem;
}
.info .temp{
    font-size: 3.3rem;
    font-weight: bold;
    color: rgb(43, 43, 43);
    margin-bottom: 20px;
}
.info .min-max{
    color: rgb(43, 43, 43);
    padding-bottom: 20px;
}
.notfound{
    margin-top: 10px;
    font-size: 20px;
    color: rgb(43, 43, 43);
    text-align: center;
}